/*Responsive*/
@media (min-width:768px) and (max-width:1920px) {
	
}
@media (max-width:768px) {
	
}
@media (max-width:540px) {
	
}
@media (max-width:480px) {
	
}
@media (max-width:360px) {
	
	
}
@media (max-width:320px) {
	
}