/* line 6, E:/KulNews/KulNew/app/styles/main.scss */
body {
  font-family: "Noto Serif", serif;
  background: #f7f7f7; }

/* line 11, E:/KulNews/KulNew/app/styles/main.scss */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: static; }

/* line 17, E:/KulNews/KulNew/app/styles/main.scss */
section {
  clear: both; }

/* line 20, E:/KulNews/KulNew/app/styles/main.scss */
.hot-news-top {
  margin-top: 50px;
  margin-bottom: 10px;
  height: 45px; }
  /* line 24, E:/KulNews/KulNew/app/styles/main.scss */
  .hot-news-top a {
    padding-right: 50px; }
  /* line 27, E:/KulNews/KulNew/app/styles/main.scss */
  .hot-news-top .hot {
    color: #fff;
    background: #cb0000;
    margin-left: 10px;
    border-radius: 0;
    text-transform: uppercase;
    padding: 4px; }

/* line 36, E:/KulNews/KulNew/app/styles/main.scss */
.clear {
  clear: both; }

/* line 39, E:/KulNews/KulNew/app/styles/main.scss */
.main-navigation {
  padding: 0 5px; }

/* line 42, E:/KulNews/KulNew/app/styles/main.scss */
.site-header {
  background: #000;
  height: 56px;
  color: #fff;
  border-bottom: 3px solid #ccc; }

/* line 48, E:/KulNews/KulNew/app/styles/main.scss */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; }

/* line 54, E:/KulNews/KulNew/app/styles/main.scss */
a {
  text-decoration: none !important;
  color: #000;
  transition: all .22s ease-in-out;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }

/* line 62, E:/KulNews/KulNew/app/styles/main.scss */
a:hover, a:focus {
  color: #cb0000;
  outline: none; }

/* line 66, E:/KulNews/KulNew/app/styles/main.scss */
.main-left {
  border-right: 1px solid #dcdcdc; }

/* line 69, E:/KulNews/KulNew/app/styles/main.scss */
p.content-new {
  font-size: 14px;
  font-family: "Noto Serif", serif; }

/* line 74, E:/KulNews/KulNew/app/styles/main.scss */
.topmargin-fix {
  margin-top: 0px; }

/* line 77, E:/KulNews/KulNew/app/styles/main.scss */
.title-main-1 {
  margin-top: 10px; }
  /* line 79, E:/KulNews/KulNew/app/styles/main.scss */
  .title-main-1 a {
    font-size: 30px;
    letter-spacing: -1px; }

/* line 84, E:/KulNews/KulNew/app/styles/main.scss */
.title-main-2 {
  margin-top: 10px; }
  /* line 86, E:/KulNews/KulNew/app/styles/main.scss */
  .title-main-2 a {
    font-size: 26px; }

/* line 90, E:/KulNews/KulNew/app/styles/main.scss */
.title-main-3 {
  margin-top: 10px;
  line-height: 1; }
  /* line 93, E:/KulNews/KulNew/app/styles/main.scss */
  .title-main-3 a {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700; }

/* line 99, E:/KulNews/KulNew/app/styles/main.scss */
.title-main-4 {
  margin-top: 10px; }
  /* line 101, E:/KulNews/KulNew/app/styles/main.scss */
  .title-main-4 a {
    font-size: 18px;
    line-height: 22px; }

/* line 106, E:/KulNews/KulNew/app/styles/main.scss */
ul.navbar-nav {
  text-align: center;
  margin: 0 auto;
  display: block; }
  /* line 110, E:/KulNews/KulNew/app/styles/main.scss */
  ul.navbar-nav li {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 5px; }
  /* line 115, E:/KulNews/KulNew/app/styles/main.scss */
  ul.navbar-nav li.main-menu-home {
    width: 90px;
    height: 72px;
    margin: -10px 13px 0 10px;
    background: #cb0000; }
    /* line 120, E:/KulNews/KulNew/app/styles/main.scss */
    ul.navbar-nav li.main-menu-home h1 {
      margin-top: 11px;
      margin-bottom: 0px; }

/* line 126, E:/KulNews/KulNew/app/styles/main.scss */
.caret {
  margin-left: 5px; }

/* line 129, E:/KulNews/KulNew/app/styles/main.scss */
.navbar-nav > li > a {
  color: #fff;
  padding: 12px 10px 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  outline: none;
  box-shadow: none;
  font-size: 13px;
  opacity: 1; }

/* line 139, E:/KulNews/KulNew/app/styles/main.scss */
.navbar-nav > li > a:hover {
  background: none;
  color: #fff;
  opacity: 1; }

/* line 144, E:/KulNews/KulNew/app/styles/main.scss */
.navbar-nav > li > a:focus {
  background: transparent; }

/* line 147, E:/KulNews/KulNew/app/styles/main.scss */
li.active-menu > a:focus {
  background: transparent; }

/* line 150, E:/KulNews/KulNew/app/styles/main.scss */
li.active-menu > a {
  color: #cb0000;
  opacity: 1;
  margin-top: 5px; }

/* line 155, E:/KulNews/KulNew/app/styles/main.scss */
ul.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  margin-top: 5px;
  min-width: 200px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  top: 50px; }
  /* line 170, E:/KulNews/KulNew/app/styles/main.scss */
  ul.dropdown-menu li.menu-header a {
    text-transform: uppercase;
    background: #ddd;
    font-weight: bold; }
  /* line 175, E:/KulNews/KulNew/app/styles/main.scss */
  ul.dropdown-menu li a {
    font-size: 13px;
    text-transform: none;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif; }
  /* line 181, E:/KulNews/KulNew/app/styles/main.scss */
  ul.dropdown-menu li > a:focus, ul.dropdown-menu li > a:hover {
    transition: 0.22s; }

/* line 186, E:/KulNews/KulNew/app/styles/main.scss */
.search-box {
  position: relative;
  padding-right: 10px; }
  /* line 190, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box .input-group-addon {
    background: #fff;
    transition: all .3s ease-in-out; }
  /* line 194, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box .input-group-addon:hover {
    background: #ddd;
    cursor: pointer; }
  /* line 198, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box button {
    position: absolute;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    right: 10px;
    top: 6px;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 0;
    transition: all .3s ease-in-out;
    outline: none !important;
    box-shadow: none !important;
    opacity: .8; }
    /* line 214, E:/KulNews/KulNew/app/styles/main.scss */
    .search-box button span {
      padding-left: 10px; }
  /* line 218, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box button:hover, .search-box button:active, .search-box button:focus,
  .search-box button:active:focus {
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    opacity: 1; }
  /* line 225, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box #search-form {
    display: none; }
  /* line 226, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box .input-group {
    position: absolute;
    right: 10px;
    top: 55px;
    width: 225px; }
  /* line 233, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box input.form-control {
    outline: none;
    box-shadow: none;
    border-right: none; }
  /* line 240, E:/KulNews/KulNew/app/styles/main.scss */
  .search-box input.form-control:focus {
    border: 1px solid #dcdcdc;
    border-right: none; }

/* line 246, E:/KulNews/KulNew/app/styles/main.scss */
ul li:hover ul.dropdown-menu,
ul li:hover .arrow_box {
  visibility: visible;
  opacity: 1; }

/* line 251, E:/KulNews/KulNew/app/styles/main.scss */
.arrow_box {
  position: relative;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  bottom: -19px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/* line 263, E:/KulNews/KulNew/app/styles/main.scss */
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

/* line 274, E:/KulNews/KulNew/app/styles/main.scss */
.arrow_box:after {
  border-bottom-color: #fff;
  border-width: 14px;
  margin-left: -14px; }

/* line 279, E:/KulNews/KulNew/app/styles/main.scss */
.arrow_box:before {
  border-bottom-color: #ccc;
  border-width: 15px;
  margin-left: -15px; }

/* line 287, E:/KulNews/KulNew/app/styles/main.scss */
.view-more-event {
  clear: both;
  border-top: 3px #222 solid;
  border-bottom: 1px solid #d4d4d4;
  padding: 14px 0 12px;
  margin-bottom: 20px; }
  /* line 293, E:/KulNews/KulNew/app/styles/main.scss */
  .view-more-event h2 {
    font-size: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }

/* line 300, E:/KulNews/KulNew/app/styles/main.scss */
.event-top a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  padding: 0px 30px 0 0;
  font-family: "Roboto", sans-serif; }

/* line 309, E:/KulNews/KulNew/app/styles/main.scss */
.event-top a:hover {
  color: #cb0000; }

/* line 313, E:/KulNews/KulNew/app/styles/main.scss */
.event-title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #cb0000;
  font-weight: bold;
  text-decoration: none; }

/* line 322, E:/KulNews/KulNew/app/styles/main.scss */
.main-right h2 {
  margin-top: 10px; }
  /* line 324, E:/KulNews/KulNew/app/styles/main.scss */
  .main-right h2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0; }

/* line 334, E:/KulNews/KulNew/app/styles/main.scss */
.sub-title-left h2 {
  margin-top: 0px; }
  /* line 336, E:/KulNews/KulNew/app/styles/main.scss */
  .sub-title-left h2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0; }

/* line 344, E:/KulNews/KulNew/app/styles/main.scss */
.sub-title-left a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  transition: all .22s ease-in-out;
  font-weight: 500;
  font-family: "Noto Serif", serif; }

/* line 353, E:/KulNews/KulNew/app/styles/main.scss */
.sub-title-left a:hover {
  color: #e52d30; }

/* line 356, E:/KulNews/KulNew/app/styles/main.scss */
.sub-title-left p {
  margin-bottom: 5px; }

/* line 361, E:/KulNews/KulNew/app/styles/main.scss */
.border-top-sub {
  border-top: 4px solid #222;
  width: 30px; }

/* line 365, E:/KulNews/KulNew/app/styles/main.scss */
.line {
  clear: both;
  margin: 15px;
  border-top: 1px solid #d5d5d5; }

/* line 370, E:/KulNews/KulNew/app/styles/main.scss */
.padding {
  clear: both;
  padding: 15px; }

/* line 375, E:/KulNews/KulNew/app/styles/main.scss */
.col-fix-divide-right-large .line {
  margin-left: 0;
  margin-right: 0; }

/* line 380, E:/KulNews/KulNew/app/styles/main.scss */
.main-left {
  border-right: 1px solid #dcdcdc; }

/* line 383, E:/KulNews/KulNew/app/styles/main.scss */
section.total-news {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px; }

/* new highlight */
/* line 389, E:/KulNews/KulNew/app/styles/main.scss */
.highlight-left {
  border-right: 1px solid #dcdcdc; }

/* line 393, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-left:nth-child(2) {
  border-top: none; }
  /* line 394, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-left:nth-child(2) p {
    height: auto; }

/* line 400, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-left {
  border-top: 1px solid #dcdcdc; }
  /* line 402, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-left .title-main-1 {
    margin-top: 0px; }
  /* line 405, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-left img {
    width: 135px;
    margin-top: 5px; }
  /* line 409, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-left .media-right {
    padding-left: 0; }
  /* line 412, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-left p {
    height: 160px;
    overflow: hidden; }

/* line 417, E:/KulNews/KulNew/app/styles/main.scss */
.top-hightnews {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 15px;
  padding-bottom: 15px; }

/* line 422, E:/KulNews/KulNew/app/styles/main.scss */
.top-hightnews2 {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 15px;
  padding-bottom: 0; }

/* line 427, E:/KulNews/KulNew/app/styles/main.scss */
.highlight-right .box-highlight-right:nth-child(2) {
  border-top: 1px solid #dcdcdc; }

/* line 432, E:/KulNews/KulNew/app/styles/main.scss */
.name-highlight h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  float: left;
  padding-right: 5px;
  font-weight: 700;
  margin-top: 0; }

/* line 441, E:/KulNews/KulNew/app/styles/main.scss */
.name-highlight img {
  margin-top: -15px; }

/* line 445, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-left,
.box-highlight-left-1 {
  clear: both; }

/* line 450, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-right img, .box-highlight-right-1 img {
  width: 100%; }

/* line 454, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-right .media-right img, .box-highlight-right-1 .media-right img {
  width: 135px; }

/* line 458, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-right .line, .box-highlight-right-1 .line {
  margin: 0; }

/* line 461, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-right p, .box-highlight-right-1 p {
  height: 102px;
  overflow: hidden; }

/* end new highlight */
/* new light */
/* line 469, E:/KulNews/KulNew/app/styles/main.scss */
.box-info-life {
  height: 275px; }
  /* line 471, E:/KulNews/KulNew/app/styles/main.scss */
  .box-info-life p {
    height: 47px;
    overflow: hidden; }
  /* line 475, E:/KulNews/KulNew/app/styles/main.scss */
  .box-info-life img {
    width: 100%;
    margin-bottom: 8px; }

/* end new light */
/* entertainment-news */
/* line 484, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-entertaiment img {
  width: 210px; }

/* line 487, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-entertaiment h3 {
  margin-top: 0; }

/* line 490, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-entertaiment .line {
  margin-left: 0;
  margin-right: 0; }

/* line 495, E:/KulNews/KulNew/app/styles/main.scss */
.box-small-entertaiment {
  margin-top: 0; }
  /* line 497, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-entertaiment h3 {
    margin-top: 0px;
    line-height: .75;
    margin-bottom: 5px; }
  /* line 502, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-entertaiment img {
    width: 140px; }
  /* line 505, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-entertaiment .line {
    margin-left: 0;
    margin-right: 0; }

/* end entertainment-news */
/* tv-shows-news */
/* line 512, E:/KulNews/KulNew/app/styles/main.scss */
.box-tv-shows {
  padding-bottom: 15px;
  height: 110px; }
  /* line 515, E:/KulNews/KulNew/app/styles/main.scss */
  .box-tv-shows img {
    width: 140px; }
  /* line 519, E:/KulNews/KulNew/app/styles/main.scss */
  .box-tv-shows .media-body a {
    height: 66px;
    display: block; }

/* end tv-shows-news */
/* movie-news */
/* line 528, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-movie-left img {
  width: 100%; }

/* line 533, E:/KulNews/KulNew/app/styles/main.scss */
.box-small-movie-right img {
  width: 100%;
  margin-bottom: 5px; }

/* line 539, E:/KulNews/KulNew/app/styles/main.scss */
.box-small-movie-bottom {
  padding-top: 15px; }
  /* line 541, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-movie-bottom p {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px; }

/* end movie new */
/* fashion new */
/* line 549, E:/KulNews/KulNew/app/styles/main.scss */
.box-content-fashion img {
  width: 100%;
  margin-bottom: 10px; }

/* line 553, E:/KulNews/KulNew/app/styles/main.scss */
.box-content-fashion p {
  margin-bottom: 0;
  text-align: center; }

/* end fashion new */
/* women */
/* line 563, E:/KulNews/KulNew/app/styles/main.scss */
.box-content-women {
  padding: 10px;
  background: #fff; }
  /* line 566, E:/KulNews/KulNew/app/styles/main.scss */
  .box-content-women img {
    width: 100%; }
  /* line 569, E:/KulNews/KulNew/app/styles/main.scss */
  .box-content-women p {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    height: 54px;
    overflow: hidden; }

/* end women */
/* tech */
/* line 580, E:/KulNews/KulNew/app/styles/main.scss */
.content-tech-main .col-xs-4 {
  width: 31.3333%; }

/* line 584, E:/KulNews/KulNew/app/styles/main.scss */
.content-tech-top-left-small {
  width: 62.5%; }
  /* line 586, E:/KulNews/KulNew/app/styles/main.scss */
  .content-tech-top-left-small img {
    width: 213px; }
  /* line 589, E:/KulNews/KulNew/app/styles/main.scss */
  .content-tech-top-left-small h3 {
    margin-top: 0; }

/* line 593, E:/KulNews/KulNew/app/styles/main.scss */
.content-tech-top-right-small {
  border-left: 1px solid #dcdcdc; }
  /* line 595, E:/KulNews/KulNew/app/styles/main.scss */
  .content-tech-top-right-small img {
    width: 94px; }

/* end tech */
/* vehicles-news */
/* line 602, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-vehicles-left img {
  width: 100%; }

/* line 605, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-vehicles-left p {
  height: 80px;
  overflow: hidden; }

/* line 610, E:/KulNews/KulNew/app/styles/main.scss */
.box-small-vehicles-right {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  margin-top: 10px; }
  /* line 614, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-vehicles-right img {
    width: 94px; }
  /* line 617, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-vehicles-right p {
    height: 64px;
    margin-bottom: 0;
    overflow: hidden; }

/* line 623, E:/KulNews/KulNew/app/styles/main.scss */
.box-small-vehicles-right:last-child {
  padding-bottom: 0;
  border-bottom: none; }

/* end vehicles-news */
/* sport-news */
/* line 630, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-sport img {
  width: 100%; }

/* line 633, E:/KulNews/KulNew/app/styles/main.scss */
.box-large-sport h3 {
  height: 52px;
  overflow: hidden; }

/* line 638, E:/KulNews/KulNew/app/styles/main.scss */
.box-small-sport {
  border-top: 1px solid #dcdcdc;
  padding-top: 15px; }
  /* line 641, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-sport img {
    width: 90px; }
  /* line 644, E:/KulNews/KulNew/app/styles/main.scss */
  .box-small-sport p {
    height: 64px;
    margin-bottom: -5px;
    overflow: hidden;
    position: relative;
    top: -3px; }

/* end sport-news */
/* video news */
/* line 655, E:/KulNews/KulNew/app/styles/main.scss */
span.icon-play {
  background-image: url("images/icon-play.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 44%;
  width: 50px;
  height: 62px;
  top: 80px;
  opacity: 0.7;
  transition: 0.3s;
  background-size: 50px 60px; }

/* line 668, E:/KulNews/KulNew/app/styles/main.scss */
a:hover span.icon-play {
  opacity: 1; }

/* line 673, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .pull-left img {
  width: 100%; }

/* line 677, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .link-bottom-video {
  clear: both;
  padding-top: 5px; }

/* line 681, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .media {
  padding-top: 15px;
  border-top: 1px solid #dcdcdc;
  clear: both; }
  /* line 685, E:/KulNews/KulNew/app/styles/main.scss */
  .video-news .media img {
    width: 146px; }

/* line 690, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .box-play, .video-news .box-play1, .video-news .box-play-img-video {
  position: relative; }

/* line 693, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .img-video-large {
  width: 100%; }

/* line 697, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .box-play a.hover-box-video {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0; }

/* line 708, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .box-play:hover span.icon-play {
  opacity: 1; }

/* line 713, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .box-play1 span.icon-play {
  background-size: 25px 30px;
  top: 25px; }

/* line 718, E:/KulNews/KulNew/app/styles/main.scss */
.video-news .box-main-video {
  padding: 10px;
  background: #222; }
  /* line 721, E:/KulNews/KulNew/app/styles/main.scss */
  .video-news .box-main-video a {
    color: #fff; }

/* end video new */
/* main-right */
/* line 731, E:/KulNews/KulNew/app/styles/main.scss */
.search-input {
  border: none;
  height: 42px;
  width: 100%;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out; }

/* line 741, E:/KulNews/KulNew/app/styles/main.scss */
.search-input:focus {
  border: 1px solid #dcdcdc;
  box-shadow: none;
  outline: none !important; }

/* line 746, E:/KulNews/KulNew/app/styles/main.scss */
.search-btn {
  color: #fff;
  padding: 10px 30px;
  border-radius: 0;
  margin-left: -5px;
  background: #a1a1a1;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  top: 0px;
  right: 0;
  transition: all .3s ease-in-out;
  font-family: "Roboto Condensed", sans-serif; }

/* line 760, E:/KulNews/KulNew/app/styles/main.scss */
.search-btn:hover {
  background: #cecece; }

/* line 765, E:/KulNews/KulNew/app/styles/main.scss */
.highlight-video img {
  width: 100%; }

/* line 768, E:/KulNews/KulNew/app/styles/main.scss */
.highlight-video .bg-bottom-video {
  position: absolute;
  z-index: 1;
  height: 40px;
  background: #888;
  opacity: .3;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  color: #fff;
  cursor: pointer; }

/* line 781, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-video {
  position: relative; }
  /* line 784, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-video .box-highlight-video-img span.icon-play {
    cursor: pointer;
    opacity: 0.5;
    top: 70px; }
  /* line 789, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-video .box-highlight-video-img a {
    position: absolute;
    display: block;
    width: 100%;
    height: 216px; }
  /* line 799, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-video .box-highlight-video-title {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 20px; }
  /* line 805, E:/KulNews/KulNew/app/styles/main.scss */
  .box-highlight-video a {
    color: #fff; }

/* line 810, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-video:hover a {
  opacity: 1; }

/* line 815, E:/KulNews/KulNew/app/styles/main.scss */
.box-highlight-video:hover span.icon-play {
  opacity: 1; }

/* event-stream */
/* line 820, E:/KulNews/KulNew/app/styles/main.scss */
.event-stream-news {
  clear: both;
  padding-top: 30px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  /* line 827, E:/KulNews/KulNew/app/styles/main.scss */
  .event-stream-news .box-stream-info-top img {
    width: 100%; }
  /* line 830, E:/KulNews/KulNew/app/styles/main.scss */
  .event-stream-news .box-stream-info-top p {
    padding-top: 5px; }
  /* line 834, E:/KulNews/KulNew/app/styles/main.scss */
  .event-stream-news .box-tream-info {
    border-top: 1px solid #dcdcdc;
    padding-top: 15px; }
    /* line 837, E:/KulNews/KulNew/app/styles/main.scss */
    .event-stream-news .box-tream-info img {
      width: 114px; }

/* end even-stream */
/* hot-news-day */
/* line 847, E:/KulNews/KulNew/app/styles/main.scss */
.hot-news-day .box-large-hot-news-day {
  padding: 10px;
  background: #fff; }
  /* line 850, E:/KulNews/KulNew/app/styles/main.scss */
  .hot-news-day .box-large-hot-news-day .box-hot-news-day {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    margin-top: 10px; }
  /* line 856, E:/KulNews/KulNew/app/styles/main.scss */
  .hot-news-day .box-large-hot-news-day .box-hot-news-day:first-child {
    border-top: none;
    padding-top: 0; }

/* end hot-new-day */
/*end main-right  */
/* footer */
/* line 866, E:/KulNews/KulNew/app/styles/main.scss */
.main-footer {
  font-family: "Noto Serif", serif;
  padding-bottom: 30px;
  font-size: 14px; }
  /* line 870, E:/KulNews/KulNew/app/styles/main.scss */
  .main-footer .col-xs-3:first-child p {
    padding-right: 40px; }
  /* line 873, E:/KulNews/KulNew/app/styles/main.scss */
  .main-footer p {
    margin-bottom: 0;
    color: #000; }
  /* line 877, E:/KulNews/KulNew/app/styles/main.scss */
  .main-footer h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Serif", serif; }

/* line 884, E:/KulNews/KulNew/app/styles/main.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

/* line 893, E:/KulNews/KulNew/app/styles/main.scss */
.widget-socialize .icon {
  color: #222;
  width: 48%;
  display: block;
  float: left;
  margin: 0 1.6% 4px 0; }

/* line 900, E:/KulNews/KulNew/app/styles/main.scss */
.widget-socialize .text-footer {
  overflow: hidden; }
  /* line 902, E:/KulNews/KulNew/app/styles/main.scss */
  .widget-socialize .text-footer p {
    color: #888; }
  /* line 905, E:/KulNews/KulNew/app/styles/main.scss */
  .widget-socialize .text-footer p:first-child {
    font-size: 24px; }
  /* line 909, E:/KulNews/KulNew/app/styles/main.scss */
  .widget-socialize .text-footer p:last-child {
    font-size: 12px; }

/* line 913, E:/KulNews/KulNew/app/styles/main.scss */
.widget-socialize .symbol {
  width: 55px;
  height: 55px;
  display: block;
  float: left;
  text-align: center;
  padding: 8px;
  font-size: 30px;
  color: #fff;
  margin-right: 8px; }

/* line 925, E:/KulNews/KulNew/app/styles/main.scss */
.widget-socialize .facebook .symbol {
  background-color: #3b5998; }

/* line 930, E:/KulNews/KulNew/app/styles/main.scss */
.widget-socialize .google .symbol {
  background-color: #dd4b39; }

/* line 935, E:/KulNews/KulNew/app/styles/main.scss */
.widget-socialize .youtube .symbol {
  background-color: #dd4b39; }

/* line 940, E:/KulNews/KulNew/app/styles/main.scss */
.widget-socialize .instagram .symbol {
  background-color: #3f729b; }

/* end footer */
/* line 946, E:/KulNews/KulNew/app/styles/main.scss */
.container {
  width: 1260px !important; }

/* line 949, E:/KulNews/KulNew/app/styles/main.scss */
.col-fix-divide-left-large {
  width: 9.5%;
  padding-right: 0; }

/* line 953, E:/KulNews/KulNew/app/styles/main.scss */
.col-fix-divide-left-large2 {
  width: 11.11%;
  padding-right: 0; }

/* line 957, E:/KulNews/KulNew/app/styles/main.scss */
.col-fix-2 {
  padding-right: 0; }

/* line 960, E:/KulNews/KulNew/app/styles/main.scss */
.col-fix-divide-right-large {
  width: 88.89%; }

/*Responsive*/



/*# sourceMappingURL=app.css.map*/