head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Kul New
  link(rel='stylesheet', href='images/icon-logo.png', type='image/gif', sizes="16x16")
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic|Roboto+Condensed:400,700,400italic,700italic|Noto+Serif:400,700,700italic,400italic&subset=vietnamese', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='app.css')
  script(src='js/jquery-2.1.4.min.js')