.highlight-video
  .sub-title-left
    .border-top-sub
    h2
      a(href="#") Video nổi bật
  .box-highlight-video
    .box-highlight-video-img
      a(href="#" class="highlight-video-glass")
      img(src="images/hot-video.png", alt="")
      span.icon-play
      .bg-bottom-video
    .box-highlight-video-title
      a(href="#") Video Giăng lưới cửa song Hàn tìm 3 người mất tích