section.hot-news
  .container
    .row
      .col-md-12
        .hot-news-top
          #mycrawler
            a(href="#" class="hot-top-run") 4 hành động "nhỏ xíu" giúp hâm lửa các cặp đôi lâu năm
              span.label.hot Hot
            a(href="#" class="hot-top-run") Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt
            a(href="#" class="hot-top-run") Vy Oanh xinh như công chúa trong tiệc thôi nôi hoành tráng của con trai
              span.label.hot Hot
            a(href="#" class="hot-top-run") Trường Giang ăn liên tục trong buổi ra mắt "Thiên Đường Ẩm Thực" mùa 2
            a(href="#" class="hot-top-run") Người nước ngoài, du học sinh "tấn công" vòng thử giọng Vietnam Idol 2016
        //- marquee(class="hot-news-top" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="6" direction="right" )
        //-   a(href="#" class="hot-top-run") 4 hành động "nhỏ xíu" giúp hâm lửa các cặp đôi lâu năm
        //-     span.label.hot Hot
        //-   a(href="#" class="hot-top-run") Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt
        //-   a(href="#" class="hot-top-run") Vy Oanh xinh như công chúa trong tiệc thôi nôi hoành tráng của con trai
        //-     span.label.hot Hot
        //-   a(href="#" class="hot-top-run") Trường Giang ăn liên tục trong buổi ra mắt "Thiên Đường Ẩm Thực" mùa 2
        //-   a(href="#" class="hot-top-run") Người nước ngoài, du học sinh "tấn công" vòng thử giọng Vietnam Idol 2016
        .view-more-event
          .row
            .col-xs-2.col-fix-divide-left-large
              h2
                a(href="#" class="event-title") Dòng sự kiện
            .col-xs-10.col-fix-divide-right-large
              .event-top
                each val in ['Obama', 'Cá chết','Mì cay','Euro 2016','Bầu cử tổng thống Mỹ Kul', 'News đổi giao diện','Truyện tranh Hay Nhức Nhói','Tin game mới cập nhật']
                    a(href="#")= val