.hot-news-day.cate-scroll-to-fixed-right
  .sub-title-left
    .border-top-sub
    h2
      a(href="#") Hot trong ngày
  .box-large-hot-news-day
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-01.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Toàn cảnh sự kiện đón Tổng thống Mỹ Barack Obama đến Việt Nam
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-02.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Tổng hợp ngày làm việc đầu tiên của Obama ở Hà Nội
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-03.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-05.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-01.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Toàn cảnh sự kiện đón Tổng thống Mỹ Barack Obama đến Việt Nam
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-02.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Tổng hợp ngày làm việc đầu tiên của Obama ở Hà Nội
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-03.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama
    .media.box-hot-news-day
      a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
        img(src="images/hot-news-day-05.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
      p
        a(href="#") Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội