body {
  font-family: "Noto Serif", serif;
  background: #f7f7f7; }

a {
  text-decoration: none !important;
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700; }

a:hover, a:focus {
  color: #cb0000;
  outline: none; }

.content-news {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }

.main-navigation {
  height: 58px;
  background: #000; }
  .main-navigation .logo-top-left {
    width: 95px;
    height: 58px;
    background: #cb0000;
    margin-left: -15px; }
    .main-navigation .logo-top-left img {
      margin: 0 auto;
      display: block;
      padding: 5px; }
  .main-navigation .navbar-header button {
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 0;
    margin-right: -7px;
    transition: all .22s ease-in-out; }
    .main-navigation .navbar-header button .icon-bar + .icon-bar {
      margin-top: 7px; }
    .main-navigation .navbar-header button .icon-bar {
      width: 33px;
      height: 3px; }
  .main-navigation .navbar-header button:hover {
    background: #cb0000; }
  .main-navigation .navbar-header span.icon-bar {
    background: #fff; }

.btn-menu {
  display: none;
  background: #000;
  margin: 0 -15px; }
  .btn-menu a {
    box-shadow: none;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: normal;
    opacity: 1;
    outline: medium none; }
  .btn-menu a:active, .btn-menu a:focus, .btn-menu a:hover {
    color: #000; }
  .btn-menu ul.navbar-nav {
    background: #000;
    margin: 0px; }
    .btn-menu ul.navbar-nav > li {
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      border-top: 1px solid #333; }
    .btn-menu ul.navbar-nav li ul li a {
      padding: 7px 20px; }
    .btn-menu ul.navbar-nav li:hover ul.dropdown-menu {
      display: block;
      position: relative;
      width: 100%;
      border: none; }

.title-main-1 {
  margin-top: 5px;
  font-size: 20px; }
  .title-main-1 a {
    font-size: 20px; }

.title-main-2 {
  margin-top: 10px;
  font-size: 17px; }
  .title-main-2 a {
    font-size: 17px;
    text-transform: uppercase; }

.title-main-4 {
  margin-top: 10px;
  font-size: 16px; }
  .title-main-4 a {
    font-weight: bold; }

.line-top {
  height: 4px;
  width: 35px;
  background: #000; }

.line-bor-top {
  padding-top: 15px;
  border-top: 1px solid #dcdcdc;
  margin-top: 15px; }

.line-left {
  border-left: 1px solid #dcdcdc; }

/* highlight-news */
.highlight-news {
  padding-top: 15px; }
  .highlight-news .highlight-large img {
    width: 100%; }
  .highlight-news .highligh-small .media {
    border-top: 1px solid #dcdcdc;
    padding-top: 15px; }
    .highlight-news .highligh-small .media img {
      width: 105px; }
  .highlight-news .highligh-small a {
    font-size: 18px; }

/* end highlight-news */
.life-news .life-large {
  padding-top: 10px; }
  .life-news .life-large img {
    width: 100%; }

.entertaiment-news .entertaiment-large {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px; }
  .entertaiment-news .entertaiment-large img {
    width: 125px; }

.tv-shows-news {
  padding-top: 15px; }
  .tv-shows-news .tv-show-small img {
    width: 100%; }

.movie-news .movie-large img {
  width: 100%; }
.movie-news .movie-small .media {
  padding-top: 15px;
  border-top: 1px solid #dcdcdc; }
.movie-news .movie-small img {
  width: 128px; }

.fashion-news .fashion-news-small img {
  width: 100%;
  padding-bottom: 5px; }
.fashion-news .fashion-news-small p {
  text-align: center; }

.women-news .women-news-large img {
  width: 100%; }
.women-news .women-news-large p {
  padding-top: 10px;
  height: 71px;
  overflow: hidden; }
.women-news .women-news-large .women-news-small p {
  border-top: 1px solid #dcdcdc; }

.tech-news .tech-news-large p {
  padding-top: 10px; }
.tech-news .tech-news-large img {
  width: 100%; }
.tech-news .tech-news-small {
  border-top: 1px solid #dcdcdc;
  padding-top: 15px; }
  .tech-news .tech-news-small .media-body a {
    height: 84px;
    overflow: hidden; }
  .tech-news .tech-news-small img {
    width: 140px; }

.vehicles-news .vehicles-news-small img {
  width: 100%; }

/*# sourceMappingURL=main-mb.css.map */
