$roboto:  'Roboto', sans-serif;
$robotocondensed:  'Roboto Condensed', sans-serif;
$notoserif:  'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;

body{
  font-family: $notoserif;
  background: #f7f7f7;
}
a{
  text-decoration: none !important;
  color: #000;
  font-family: $robotocondensed;
  font-size: 16px;
  font-weight: 700;
  }
a:hover, a:focus{
    color: #cb0000;
    outline: none;
  }
.content-news{
	font-family: $robotocondensed;
	font-size: 16px;
}
.main-navigation{
	height: 58px;
	background: #000;
	.logo-top-left{
		width: 95px;
    height: 58px;
    background: #cb0000;
    margin-left: -15px;
		img{
			margin: 0 auto;
	    display: block;
	    padding: 5px;
		}
	}
	.navbar-header{
		position:relative;
		.navbar-toggle {
			width:51px;
			height:41px;
		}
		button{
			border: 1px solid #fff;
	    padding: 8px;
	    border-radius: 0;
	    margin-right: 0px;
	    transition: all .3s ease-in-out;
		    .icon-bar+.icon-bar{
		    	    margin-top: 7px;
		    }
		    .icon-bar{
		    	width: 33px;
	    		height: 3px;
	    		transition:.3s ease-in-out;
	    		margin:0 auto;
		    }
		}
		.invisibility {
			.icon-bar:first-child {
				width:0px;
				margin: 0 auto;
				transition:.3s ease-in-out;
			}
			.icon-bar+.icon-bar {
				width:0px;
				margin: 0 auto;
				transition:.3s ease-in-out;
			}
			.icon-bar:last-child {
				width:0px;
				margin: 0 auto;
				transition:.3s ease-in-out;
			}
		}
		span.icon-bar{
			background: #fff;
		}
		.fixheight-icon {
			width: 35px;
    		height: 26px;
    		position: absolute;
		    right: 8px;
		    top: 15px;
		    z-index:2;
		    padding:0;
		    opacity: 1;
		    background: #000;
		    border:none;
		    -webkit-transform: translate(0%, 0%) scale(0) rotate(0deg);
			     -moz-transform: translate(0%, 0%) scale(0) rotate(0deg);
			      -ms-transform: translate(0%, 0%) scale(0) rotate(0deg);
			       -o-transform: translate(0%, 0%) scale(0) rotate(0deg);
			          transform: translate(0%, 0%) scale(0) rotate(0deg);
		}
		.visibility{
			-webkit-transform: translate(0%, 0%) scale(1) rotate(0deg);
		     -moz-transform: translate(0%, 0%) scale(1) rotate(0deg);
		      -ms-transform: translate(0%, 0%) scale(1) rotate(0deg);
		       -o-transform: translate(0%, 0%) scale(1) rotate(0deg);
		          transform: translate(0%, 0%) scale(1) rotate(0deg);
		}
		.visibility:before, .visibility:after {
			-webkit-transform: translate(-50%, -50%);
		     -moz-transform: translate(-50%, -50%);
		      -ms-transform: translate(-50%, -50%);
		       -o-transform: translate(-50%, -50%);
		          transform: translate(-50%, -50%);
		}
		.fixheight-icon:after, .fixheight-icon:before {
			content: "";
			background-color: #ffffff;
			z-index: 2;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		.fixheight-icon:after {
			width: 2px;
  			height: 20px;
		}
		.fixheight-icon:before {
			width: 20px;
  			height: 2px;
		}
	}
}
.btn-menu{
	display: none;
	background: #000;
	margin: 0 -15px;
	a{
		box-shadow: none;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: normal;
    opacity: 1;
    outline: medium none;

	}
	a:active, a:focus, a:hover{
		color: #000;
	}
	ul.navbar-nav{
		background: #000;
		margin: 0px;
		>li{
			transition: all 0.3s ease-in-out;
			text-transform: uppercase;
			border-top: 1px solid #333;
		}
		li ul li a{
			 padding: 7px 20px;
		}
		li:hover ul.dropdown-menu{
			display: block;
			position: relative;
			width: 100%;
			border: none;
		
		}
	}
}
.title-main-1{
	margin-top: 5px;
	font-size: 20px;
	a{
		font-size: 20px;
	}
}
.title-main-2{
	margin-top: 10px;
	font-size: 17px;
	a{
		font-size: 17px;
		text-transform: uppercase;
	}
}
.title-main-4{
	margin-top: 10px;
	font-size: 16px;
	a{
		font-weight: bold;
	}
}
.line-top{
	height: 4px;
	width: 35px;
	background: #000;
}
.line-bor-top{
	padding-top: 15px;
  border-top: 1px solid #dcdcdc;
  margin-top: 15px;
}
.line-left{
	border-left: $border1px;
}
/* highlight-news */
.highlight-news{
	padding-top: 15px;
	.highlight-large{
		img{
			width: 100%;
		}
	}
	.highligh-small{
		.media{
			border-top: $border1px;
			padding-top: 15px;
			img{
				width: 105px;
			}
		}
		a{
			font-size: 18px;
		}
	}
}
/* end highlight-news */

.life-news{
	.life-large{
		padding-top: 10px;
		img{
			width: 100%;
		}
	}
}
.entertaiment-news{
	.entertaiment-large{
		border-bottom: $border1px;
		padding-bottom: 15px;
		img{
			width: 125px;
		}
		
	}
}
.tv-shows-news{
	padding-top: 15px;
	.tv-show-small{
		img{
			width: 100%;
		}

	}
}
.movie-news{
	.movie-large{
		img{
			width: 100%;
		}
	}
	.movie-small{
		.media{
			padding-top: 15px;
			border-top: $border1px;
		}
		img{
				width: 128px;
			}
		
	}
}
.fashion-news{
	.fashion-news-small{
		img{
			width: 100%;
			padding-bottom: 5px;
		}
		p{
			text-align: center;
		}
		
	}
}
.women-news{
	.women-news-large{
		img{
			width: 100%;
		}
		p{
			padding-top: 10px;
			height: 71px;
			overflow: hidden;
		}
		.women-news-small{
			p{
			border-top: $border1px;
		}
		}
	}
}
.tech-news{
	.tech-news-large{
		p{
			padding-top: 10px;
		}
		img{
			width: 100%;
		}
	}
	.tech-news-small{
		border-top: $border1px;
		padding-top: 15px;
		.media-body{
			a{
			height: 84px;
			overflow: hidden;
		}
		}
		
		img{
			width: 140px;
		}
	}
}
.vehicles-news{
	.vehicles-news-small{
		img{
			width: 100%;
		}
	}
}