header.site-header.fixed.header
  .main-navigation.container
    .row
      .col-xs-12
        ul.nav.navbar-nav
          li.active-menu.main-menu-home
            h1
              a(href="/", title="Tin tức, giải trí, xã hội")
                img(src="images/logo.png", alt="kulnew logo")
          li
            a(href="#") Đời Sống
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Nhịp sống
              li
                a(href="#") Nhân vật
              li
                a(href="#") Giới trẻ
              li
                a(href="#") Xem-Ăn-Chơi
              li
                a(href="#") Sức khỏe
              li
                a(href="#") Khám phá
          li 
            a(href="#") Giải Trí
              span.caret
            .arrow_box
            ul.dropdown-menu
              li.menu-header
                a(href="#") Sao
              li
                a(href="#") Sao Việt
              li
                a(href="#") Sao Á
              li
                a(href="#") Sao US-UK
              li.menu-header
                a(href="#") Nhạc
              li
                a(href="#") Nhạc Việt Nam
              li 
                a(href="#") Nhạc Châu Á
              li
                a(href="#") Nhạc US-UK
          li
            a(href="#") TV Shows
          li
            a(href="#") Điện Ảnh
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Phim Việt
              li
                a(href="#") Phim Châu Á
              li
                a(href="#") Phim US-UK
          li
            a(href="#") Thời Trang
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Làm đẹp
              li
                a(href="#") Xu hướng
              li
                a(href="#") Thời trang sao
              li
                a(href="#") Bộ sưu tập
          li
            a(href="#") Phái Đẹp
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Horoscope
              li
                a(href="#") Cẩm nang yêu
              li
                a(href="#") Góc chia sẽ
              li
                a(href="#") Couple Stories
          li
            a(href="#") Công Nghệ
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Sản phẩm mới
              li
                a(href="#") Tin công nghệ
              li
                a(href="#") Di động
          li
            a(href="#") Xe
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Ô tô
              li
                a(href="#") Xe máy
          li
            a(href="#") Thể Thao
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Trong nước
              li
                a(href="#") Quốc tế
              li
                a(href="#") Chuyện hậu trường
          li
            a(href="#") Video
              span.caret
            .arrow_box
            ul.dropdown-menu
              li
                a(href="#") Showbiz
              li
                a(href="#") MV & Trailer
              li
                a(href="#") Giải trí
              li
                a(href="#") Hài
              li
                a(href="#") Thời sự
        .search-box
          form.navbar-form.navbar-right
            div(class="form-group" id='search-form')
              .input-group
                input(type="text" class="form-control" placeholder="Nhập nội dung..")
                span(class="input-group-addon" id ="search-icon" title="Tìm")
                  span.glyphicon.glyphicon-search
            button(id ="search-button" class="btn btn-default") TÌM KIẾM
              span.glyphicon.glyphicon-search